table {
  width: 60%;
  border: 1px solid black;
  color: black;
  
}

th {
  height: 50px;
}


th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
  

}
tr:hover {background-color: #aee2ee}